.idea/
phase_2/__pycache__/
webpages/__pycache__/
webpages/migrations/__pycache__/
webpages/templates/register/login3.html
challenges/__pycache__/
challenges/migrations/__pycache__/
zSHORT_NOTES/
db.sqlite3