
body{
	background-color: #ffffff;
}

/* NAVBAR */

nav .container-fluid .navbar-brand {
  color:#1ab188;
  font-family: 'Roboto', sans-serif;
  
  }
  
nav .container-fluid .navbar-brand:hover {
  color:#179b77;
}
  
#bootstrap-override-customnav{
  background:rgba(19, 35, 47, 1);
  padding: 15px;
}
  
.navbar-nav .nav-item .nav-link {
  color:#F2F2F2;
  font-family: 'Roboto', sans-serif;
}
  
.navbar-nav .nav-item .nav-link:hover {
  color:#1ab188;
  font-family: 'Roboto', sans-serif;
}
  
.navbar-nav .nav-item .nav-link:focus {
  color:#179b77;;
  box-shadow: none;
}

/* MAINHEAD CSS */

.mainhead {
  text-align: center; 
  padding: 30px 0;
  position: relative;
}

.mainhead h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  color: #3b434a;
  position: relative;
  z-index: 0;
}

.mainhead span {
  position: absolute;
  margin-top: 25px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: -1;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 0;
}

/* CHALLENGE CARDS CSS */

  .card{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgba(19, 35, 47, 0.9);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.5);
  }

  .list-group{
    background-color: rgba(19, 35, 47, 0.9);
  }

  .card-title{
    color: #1ab188;
  }

 .card-text{
	white-space: break-spaces;
  color: #1ab188;
}

.headings{
	font-weight:  bold;
  font-size: 20px;
  color: #1ab188;
}

.subform{
	margin-top: 15px;
}

.labeled{
	margin-right:10px;
	font-weight: bold;

}