{%extends 'register/base.html'%}
{%block body_block%}

    <!-- ======= Login Page ======= -->
    <div class="form">
          
          <div id="login">
            <h1>Welcome Back!</h1>

            <form method="POST">
              {% csrf_token %}
            <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              {{form.username}}
              {% if form.errors %}
              <p class='text-danger'>Your username and password didn't match. Please try again.</p>
            {% endif %}
            </div>

            <div class="field-wrap">
              <label>
                Password<span class="req">*</span>
              </label>
              {{form.password}}
            </div>

            <p class="forgot"><a href="#">Forgot Password?</a></p>

            <button class="button button-block">Log In</button>
            <input type="hidden" name="next" value="{{next}}">
            </form>

          </div>
          
    </div><!-- tab-content -->

{%endblock%}