{%extends 'register/base.html'%}
{%block body_block%}

        <div class="form">

            <div id="register">
                <h1>Register Here</h1>

                <form method="POST">
                {% csrf_token %}
                
                    <div class="top-row">
                    
                        <div class="field-wrap">
                            <label>First Name<span class="req">*</span></label>
                            {{form.first_name}}
                        </div>
                
                        <div class="field-wrap">
                            <label>Last Name<span class="req">*</span></label>
                            {{form.last_name}}
                        </div>
                    </div>
                    
                    <div class="field-wrap">
                        <label>Username<span class="req">*</span></label>
                        {{form.username}}

                        {% if form.username.errors %}
                        <ul>
                            {% for error in form.username.errors %}
                            <li class='text-danger'>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    
                    <div class="field-wrap">
                        <label>Email Address<span class="req">*</span></label>
                        {{form.email}}

                        {% if form.email.errors %}
                        <ul>
                            {% for error in form.email.errors %}
                            <li class='text-danger'>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    
                    <div class="field-wrap">
                        <label>Password<span class="req">*</span></label>
                        {{form.password1}}
                        
                        {% if form.password1.errors %}
                            <ul>
                            {% for error in form.password1.errors %}
                                <li class='text-danger'>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="field-wrap">
                        <label>Repeat Password<span class="req">*</span></label>
                        {{form.password2}}
                        
                        {% if form.password2.errors %}
                            <ul>
                            {% for error in form.password2.errors %}
                                <li class='text-danger'>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                
                    <button type="submit" class="button button-block">Register</button>
                    
                    <div class="field-wrap">
                        {% if form.non_field_errors %}
                            <ul>
                            {% for error in form.non_field_errors %}
                                <li class='text-danger'>{{error}}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </form>
            </div>
        </div>

{%endblock%}