<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav navbar-nav">
            {#Register Link#}
            <li><a class="navbar-link" href="{% url 'register' %}">Register</a></li>  
            {#Logic on what to display#}
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>

    <div>
      {% if user.is_authenticated%}
        <h1>You have logged in!!!</h1>
      {% else %}
        <h1>Account creation success {{data}}!</h1>
      {% endif %}
    </div>

</body>

</html>